/* .App {
  text-align: center;
} */



.header-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #0b1a72;
}


span {
  padding: 0px 20px;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}


.list-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  color: #FFF;
  padding: 0px 20px;
}

.body-title {
  font-size: 24px;
  color: #0b1a72;
}

button {
  border: 0;
  background-color: #0b1a72;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: #061257;
}


input[type=text], select, textarea {
  width: 90%;
}


.message-list-top-container {
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.message-filter-container {
  display: table;
  width: 60%;
  margin: 0 auto;
}

.message-filter-item {
  display: table-cell
}

/* .message-list-filter-container {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
} */


#message-list-table {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

#message-list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0b1a72;
  color: white;
}

#message-list-table td, #message-list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#message-list-table tr:nth-child(even){background-color: #f2f2f2;}

#message-list-table tr:hover {background-color: #ddd;}


.message-top-container {
  display: flex;
  width: 60%;
  margin: auto;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.message-body-container {
  width: 60%;
  margin: auto;
}


.dashboard {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.graph-area {
  width: 100%;
  padding: 20px;
}


/* #portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.container .modal {
  z-index: 1;
  width: 40vw;
  height: 40vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
}
.modal-message {
  padding: 20px;
}

.modal button {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 8px 11px;
  background: #0b1a72;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}
@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
} */







/* .test-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top-container top-container top-container"
    "trigger channel timer"
    "lower-container lower-container lower-container";
}

.top-container { grid-area: top-container; }

.lower-container { grid-area: lower-container; }

.trigger { grid-area: trigger; }

.channel { grid-area: channel; }

.timer { grid-area: timer; } */














